* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width {
    max-width: 600px;
    margin: 0 auto;
    width: 92%;
}

.header {
    background: #111;
    color: #ffcc;
    padding: 22px 0;
    position: sticky;
    top: 0;
    z-index: 10;

    .width {
        position: relative;
    }

    h1 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
    }

    h1 a {
        color: #fff;
    }
}

a {
    text-decoration: none;
}



body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.back {
    background-color: #fff !important;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}