* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width {
    max-width: 600px;
    margin: 0 auto;
    width: 92%;
}

.header {
    background: #111;
    color: #ffcc;
    padding: 22px 0;
    position: sticky;
    top: 0;
    z-index: 10;

    .width {
        position: relative;
    }

    h1 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
    }

    h1 a {
        color: #fff;
    }
}

input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    border-radius: 0;
}

a {
    text-decoration: none;
}



body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.back {
    background-color: #fff !important;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}

.search-coin {
    padding: 40px 0;
    text-align: center;

    h3 {
        font-size: 30px;
        margin: 19px;
    }

    input {
        border: 1px solid #ddf;
        border-radius: 9px;
        padding: 0 23px;
        line-height: 50px;
    }
}

.home-crypto-coins {
    
    h3 {
        font-size: 30px;
        margin: 19px;
        text-align: center;
        margin-bottom: 15px;
    }

}

.trending-heading {
    text-align: center;
    margin-bottom: 15px;
}